.font-families {
  font-family: 'Raleway', sans-serif;
  font-family: 'Pacifico', cursive; }

.f90, .about-us .about-us-container h1, .our-services .our-service-container h1, .gallery .gallery-div1 h1, .blog .header-blog h1 {
  font-size: 5.625rem; }

.f60, .header .header-content h2 {
  font-size: 3.75rem; }

.f50 {
  font-size: 3.125rem; }

.f40, .subscribe h2 {
  font-size: 2.5rem; }

.f32, .blog .div-blog-container .div-blog .date {
  font-size: 2rem; }

.f20, .header .header-content button, .our-services .boxes-container .box, .gallery .gallery-div5 button, .subscribe form button, .blog .div-blog-container .div-blog p, .blog .btn-div button {
  font-size: 1.25rem; }

.f17, .header .header-content p, .about-us .about-us-container p, .gallery .gallery-div2 p, .subscribe p, .blog .p-blog p {
  font-size: 1.0625rem; }

.f16, .navbar .navbar-nav .nav-link {
  font-size: 1rem; }

.f15 {
  font-size: .9375rem; }

.f13, .blog .div-blog-container .div-blog footer {
  font-size: .8125rem; }

.w900, .header .header-content h2 {
  font-weight: 900; }

.w700, .navbar .navbar-nav .nav-link, .about-us .about-us-container h1, .our-services .boxes-container .box, .our-services .our-service-container h1, .gallery .gallery-div1 h1, .subscribe h2, .blog .header-blog h1, .blog .div-blog-container .div-blog p, .blog .div-blog-container .div-blog .date {
  font-weight: 700; }

.w400 {
  font-weight: 400; }

.w300, .header .header-content p, .header .header-content button, .about-us .about-us-container p, .gallery .gallery-div2 p, .gallery .gallery-div5 button, .subscribe p, .subscribe form button, .blog .p-blog p, .blog .div-blog-container .div-blog footer, .blog .btn-div button {
  font-weight: 300; }

.nav-item-hover {
  border-top: 3px #ff6033; }

.input-border, .subscribe form input {
  border: 1px solid #262626; }

.form-item-active {
  border-left: 3px #355b82;
  background-color: #00c4c4; }

.navbar {
  width: 100%;
  height: 150px;
  padding: inherit;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 20%;
  z-index: 100; }
  .navbar .image-div {
    padding-right: 16%; }
  .navbar .navbar-nav {
    margin-right: 80px; }
    .navbar .navbar-nav .nav-link {
      color: #262626;
      margin: 15px;
      padding: 0;
      border-top: 3px solid transparent; }
      .navbar .navbar-nav .nav-link:hover {
        border-top: 3px solid #ff6033; }

.header {
  position: relative;
  background: #fafaf5 url("../images/header-bg.jpg") no-repeat center right;
  background-size: contain;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .header .header-content {
    margin-left: 80px; }
    .header .header-content h2 {
      color: #262626;
      margin-bottom: 32px; }
    .header .header-content p {
      color: #262626;
      margin-bottom: 32px; }
    .header .header-content button {
      color: white;
      background-color: #ff6033;
      padding: 16px 24px;
      box-shadow: 2px 10px 9px rgba(0, 0, 0, 0.2);
      border: none; }

.about-us {
  position: relative;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background: #00b0b0 url("../images/cup.png") no-repeat left center;
  background-size: 50% 85%; }
  .about-us .about-us-container {
    margin-right: 80px; }
    .about-us .about-us-container h1 {
      color: white;
      margin-bottom: 32px; }
    .about-us .about-us-container p {
      color: white;
      margin-bottom: 24px; }

.our-services {
  position: relative;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #70bfff url("../images/tomato.png") no-repeat calc(80%) center;
  background-clip: padding-box;
  padding: 0 80px; }
  .our-services .boxes-container {
    padding-right: 50px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    .our-services .boxes-container .box {
      height: 100px;
      color: #262626;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      background-color: white;
      box-shadow: 2px 10px 9px rgba(0, 0, 0, 0.2);
      margin-bottom: 16px; }
      .our-services .boxes-container .box .col-sm-10, .our-services .boxes-container .box .col-sm-2 {
        padding: 10px;
        text-align: center;
        margin: 0; }
      .our-services .boxes-container .box img {
        width: 55px;
        height: 55px; }
      .our-services .boxes-container .box .col-sm-10 {
        border-right: 2px solid lightgrey;
        flex-grow: 1; }
  .our-services .our-service-container h1 {
    color: white; }

.gallery {
  position: relative;
  background-color: #ffe92f;
  margin: 0;
  padding: 80px 0; }
  .gallery .gallery-div1 h1 {
    color: #262626;
    margin-bottom: 32px;
    text-align: center; }
  .gallery .gallery-div2 p {
    color: #262626;
    margin-bottom: 48px;
    text-align: center; }
  .gallery .gallery-div3 {
    margin: 0 80px; }
    .gallery .gallery-div3 .one-huge-img {
      padding: 0;
      margin: 0; }
      .gallery .gallery-div3 .one-huge-img img {
        width: 621px;
        height: 432px;
        margin-bottom: 32px;
        margin-right: 32px; }
    .gallery .gallery-div3 .two-small-img {
      padding: 0;
      margin: 0; }
      .gallery .gallery-div3 .two-small-img img {
        width: 326px;
        height: 200px;
        margin-bottom: 32px; }
  .gallery .gallery-div4 {
    margin: 0 80px; }
    .gallery .gallery-div4 .bottom-img {
      width: 474px;
      height: 320px;
      padding: 0;
      margin-bottom: 32px; }
      .gallery .gallery-div4 .bottom-img:first-of-type {
        margin-right: 32px; }
  .gallery .gallery-div5 button {
    color: white;
    background-color: #5585a2;
    padding: 16px 24px;
    box-shadow: 2px 10px 9px rgba(0, 0, 0, 0.2);
    border: none; }

.subscribe {
  position: relative;
  background: url("../images/sub-bg.jpg") no-repeat right center;
  margin: 0;
  padding: 80px; }
  .subscribe h2 {
    color: #262626;
    margin-bottom: 32px;
    padding: 0; }
  .subscribe p {
    color: #262626;
    margin-bottom: 32px;
    padding: 0; }
  .subscribe form {
    padding: 0; }
    .subscribe form input {
      color: #262626;
      padding: 20px 16px;
      margin-right: 30px;
      width: 40%; }
    .subscribe form button {
      color: white;
      background-color: #96b92c;
      padding: 16px 24px;
      box-shadow: 2px 10px 9px rgba(0, 0, 0, 0.2);
      border: none; }

.blog {
  position: relative;
  padding: 80px;
  background-color: #b07cf7; }
  .blog .header-blog h1 {
    color: white;
    margin-bottom: 32px; }
  .blog .p-blog p {
    color: white;
    margin-bottom: 48px;
    text-align: center; }
  .blog .div-blog-container {
    margin-bottom: 32px; }
    .blog .div-blog-container .div-blog {
      width: 307px;
      height: 252px; }
      .blog .div-blog-container .div-blog p {
        color: white;
        margin: 0 16px 16px 16px; }
      .blog .div-blog-container .div-blog footer {
        color: white;
        margin-left: 16px;
        margin-bottom: 20px; }
      .blog .div-blog-container .div-blog .date {
        width: fit-content;
        color: white;
        background: rgba(86, 92, 101, 0.5);
        text-align: center;
        line-height: 1.2;
        border-radius: 5px;
        padding: 3px;
        margin: 16px;
        margin-bottom: 48px; }
    .blog .div-blog-container .blog-one {
      background: url("../images/blog1.png") no-repeat;
      background-size: cover;
      margin-right: 30px; }
    .blog .div-blog-container .blog-two {
      background: url("../images/blog2.png") no-repeat bottom center;
      background-size: cover;
      margin-right: 30px; }
    .blog .div-blog-container .blog-three {
      background: url("../images/blog3.png") no-repeat right;
      background-size: cover; }
  .blog .btn-div button {
    color: white;
    background-color: #f72b3b;
    padding: 16px 24px;
    box-shadow: 2px 10px 9px rgba(0, 0, 0, 0.2);
    border: none; }

body {
  box-sizing: border-box;
  position: relative;
  padding: 0 20%;
  font-family: 'Raleway', sans-serif; }

/*# sourceMappingURL=index.css.map */
