.font-families {
  font-family: 'Raleway', sans-serif;
  font-family: 'Pacifico', cursive; }

.f90, .about-us .about-us-container h1, .our-services .our-service-container h1 {
  font-size: 5.625rem; }

.f60, .header .header-content h2 {
  font-size: 3.75rem; }

.f50 {
  font-size: 3.125rem; }

.f40 {
  font-size: 2.5rem; }

.f32 {
  font-size: 2rem; }

.f20, .header .header-content button, .our-services .boxes-container .box {
  font-size: 1.25rem; }

.f17, .header .header-content p, .about-us .about-us-container p {
  font-size: 1.0625rem; }

.f16, .navbar .navbar-nav .nav-link {
  font-size: 1rem; }

.f15 {
  font-size: .9375rem; }

.f13 {
  font-size: .8125rem; }

.w900, .header .header-content h2, .about-us .about-us-container h1, .our-services .our-service-container h1 {
  font-weight: 900; }

.w700, .navbar .navbar-nav .nav-link, .our-services .boxes-container .box {
  font-weight: 700; }

.w400 {
  font-weight: 400; }

.w300, .header .header-content p, .header .header-content button, .about-us .about-us-container p {
  font-weight: 300; }

.nav-item-hover {
  border-top: 3px #ff6033; }

.input-border {
  border: 1px #262626; }

.form-item-active {
  border-left: 3px #355b82;
  background-color: #00c4c4; }

.navbar {
  width: 100%;
  height: 150px;
  padding: inherit;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 20%;
  z-index: 100; }
  .navbar .image-div {
    padding-right: 16%; }
  .navbar .navbar-nav {
    margin-right: 80px; }
    .navbar .navbar-nav .nav-link {
      color: #262626;
      margin: 15px;
      padding: 0;
      border-top: 3px solid transparent; }
      .navbar .navbar-nav .nav-link:hover {
        border-top: 3px solid #ff6033; }

.header {
  position: relative;
  background: #fafaf5 url("../images/header-bg.jpg") no-repeat center right;
  background-size: contain;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .header .header-content {
    margin-left: 80px; }
    .header .header-content h2 {
      color: #262626;
      margin-bottom: 32px; }
    .header .header-content p {
      color: #262626;
      margin-bottom: 32px; }
    .header .header-content button {
      color: white;
      background-color: #ff6033;
      padding: 16px 24px;
      box-shadow: 2px 10px 9px rgba(0, 0, 0, 0.2); }

.about-us {
  position: relative;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background: #00b0b0 url("../images/cup.png") no-repeat left center;
  background-size: 50% 85%; }
  .about-us .about-us-container {
    margin-right: 80px; }
    .about-us .about-us-container h1 {
      color: white;
      margin-bottom: 32px; }
    .about-us .about-us-container p {
      color: white;
      margin-bottom: 24px; }

.our-services {
  position: relative;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #70bfff url("../images/tomato.png") no-repeat calc(80%) center;
  background-clip: padding-box;
  padding: 0 80px; }
  .our-services .boxes-container {
    padding-right: 50px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    .our-services .boxes-container .box {
      height: 100px;
      color: #262626;
      background-color: white;
      box-shadow: 2px 10px 9px rgba(0, 0, 0, 0.2);
      margin-bottom: 16px; }
      .our-services .boxes-container .box .col-sm-10, .our-services .boxes-container .box .col-sm-2 {
        padding: 10px;
        text-align: center;
        margin: 0; }
      .our-services .boxes-container .box img {
        width: 55px;
        height: 55px; }
      .our-services .boxes-container .box .col-sm-10 {
        border-right: 2px solid lightgrey; }
  .our-services .our-service-container h1 {
    color: white; }

body {
  box-sizing: border-box;
  position: relative;
  padding: 0 20%;
  font-family: 'Raleway', sans-serif; }

/*# sourceMappingURL=index.css.map */
