.gallery {
    position: relative;
    background-color: $gallery-bgc;
    margin: 0;
    padding: 80px 0;
    .gallery-div1 {
        h1 {
            @extend .w700;
            @extend .f90;
            color: $dark-font-color;
            margin-bottom: 32px;
            text-align: center;
        }   
    }
    .gallery-div2 {
        p {
            @extend .w300;
            @extend .f17;
            color: $dark-font-color;
            margin-bottom: 48px;
            text-align: center;
        }
    }
    .gallery-div3 {
        // width: 100%;
        margin: 0 80px; 
        .one-huge-img {
            padding: 0;
            margin: 0;
            img {
                width: 621px;
                height: 432px;
                margin-bottom: 32px;
                margin-right: 32px;
            }
        }
        .two-small-img {
            padding: 0;
            margin: 0;
            img {
                width: 326px;
                height: 200px;
                margin-bottom: 32px;
            }
        }
    }
    .gallery-div4 {
        margin: 0 80px;
        .bottom-img {
            width: 474px;
            height: 320px;
            padding: 0;
            margin-bottom: 32px;
            &:first-of-type {
                margin-right: 32px;
            }
        }
    }
    .gallery-div5 {
        button {
            @extend .w300;
            @extend .f20;
            color: $white-font-color;
            background-color: $gallery-button-bgc;
            padding: 16px 24px;
            box-shadow: $main-shadow;
            border: none;
        }
    }
}