@import 'variables';
@import 'mixin';
@import 'typography';
@import 'navi';
@import 'header';
@import 'about-us';
@import 'our-service';
@import 'gallery';
@import 'subscribe';
@import 'blog';
@import 'contact';
@import 'footer';
@import 'base';


// font-family: 'Pacifico', cursive;
// font-family: 'Raleway', sans-serif;


body {
    box-sizing: border-box;
    position: relative;
    padding: 0 20%;
    font-family: 'Raleway', sans-serif;
}

// .image-item1 {
//     grid-row: span 2;
// }


