@import 'bootstrap/bootstrap.scss';
@import 'base/variables';
@import 'base/mixin';
@import 'base/typography';
@import 'elements/header';
@import 'elements/about-us';
@import 'elements/our-service';
@import 'elements/gallery';
@import 'elements/subscribe';
@import 'elements/blog';
@import 'elements/contact';
@import 'elements/footer';
@import 'elements/navi';
@import 'base/base';



// font-family: 'Pacifico', cursive;
// font-family: 'Raleway', sans-serif;


body {
    box-sizing: border-box;
    position: relative;
    font-family: 'Raleway', sans-serif;
}

// .image-item1 {
//     grid-row: span 2;
// }


