
// FONT COLORS
$dark-font-color: rgb(38,38,38);
$white-font-color: rgb(255, 255, 255); 
$placeholder-font-color: rgb(170, 170, 170);
$footer-font-color: rgb(185, 185, 185);
$footer-span-font-color: rgb(247, 43, 59);

// BACKGROUNDS COLOR
$button-header-bgc: rgb(255,96,51);
$about-us-bgc: rgb(0, 176, 176);
$our-service-bgc: rgb(112, 191, 255);
$gallery-bgc: rgb(255, 233, 47);
$gallery-button-bgc: rgb(85, 133, 162);
$subscribe-button-bgc: rgb(150, 185, 44);
$blog-button-bgc: rgb(247, 43, 59);
$blog-bgc: rgb(176, 124, 247);
$date-blog-bgc: rgba(86, 92, 101, .5);
$form-item-bgc: rgba(111, 212, 208, .5);
$form-item-focus-bgc: rgba(0, 196, 196, .5);
$footer-bgc: rgb(38,38,38);

// BORDER COLORS
$navbar-border-color-hover: rgb(255,96,51);

// GRADIENT COLORS


// FONT WEIGHT
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;
// ANIMATIONS


// SHADOW
$main-shadow: 2px 10px 9px rgba(0,0,0,0.2);
