.blog {
    min-height: 55vh;
    padding: 80px 0;
    background-color: $blog-bgc;
    .header-blog {
        h1 {
            @extend .w700;
            @extend .f90;
            color: $white-font-color;
        }
    }
    .p-blog {
        p {
            @extend .w300;
            @extend .f17;
            color: $white-font-color;
        }
    }
    .div-blog-container {
        .div-blog {
            .div-blog-small-container {
                opacity: 0;
                transition: opacity .5s ease-in-out;
                .gradient-div {
                    background: rgba(15,15,15,0);
                    @include linear-gradient(rgba(15,15,15,0),rgba(15,15,15,0.75), rgba(0,0,0,0.7));
                    p {
                        @extend .w700;
                        @extend .f20;
                        color: $white-font-color;
                    }
                    footer {
                        @extend .w300;
                        @extend .f13;
                        color: $white-font-color;
                    }
                    .date {
                        width: fit-content;
                        @extend .w700;
                        @extend .f32;
                        color: $white-font-color;
                        background: $date-blog-bgc;
                        line-height: 1.2;
                        border-radius: 5px;
                        padding: 3px;
                        margin: 32px;
                        margin-bottom: 96px;
                    }
                }
                &:hover {
                    opacity: 1;
                }
            }
        }
        .blog-one {
            background: url('../images/blog1.png') no-repeat;
            background-size: cover;
            margin-right: 30px;
        }
        .blog-two {
            background: url('../images/blog2.png') no-repeat bottom center;
            background-size: cover;
            margin-right: 30px;
        }
        .blog-three {
            background: url('../images/blog3.png') no-repeat right;
            background-size: cover;
        }
    }
    .btn-blog {
        button {
            @extend .w300;
            @extend .f20;
            color: $white-font-color;
            background-color: $blog-button-bgc;
            box-shadow: $main-shadow;
            border: none;
        } &:focus {
            outline: none;
        }
    }
    #blog-extra {
        display: none;
    }
} 