.footer-container {
    background-color: $footer-bgc;
    @extend .w300;
    @extend .f16;
    color: $footer-font-color;
    .foot-div {
        p {
        line-height: 90px;  
        &:nth-child(2) {
            font-family: 'Pacifico', cursive;
            @extend .w400;
            @extend .f24;
            } 
            span {
                @extend .w700;
                color: $footer-span-font-color;
            }
        }
    }
}