.gallery {
    min-height: 100vh;
    background-color: $gallery-bgc;
    padding: 100px 0 120px 0;
    .galery-content {
        .gallery-div1 {
            h1 {
                @extend .w700;
                @extend .f90;
                color: $dark-font-color;
            }   
        }
        .gallery-div2 {
            p {
                @extend .w300;
                @extend .f17;
                color: $dark-font-color;
            }
        }
        .gallery-div3 {
            .one-huge-img {
                img {   
                    padding-right: 12px;             
                }
            }
            .two-small-img {
                img {
                    padding-left: 20px;
                }
            }
        }
        .gallery-div5 {
            button {
                @extend .w300;
                @extend .f20;
                color: $white-font-color;
                background-color: $gallery-button-bgc;
                box-shadow: $main-shadow;
            }
        }
        #gallery-extra {
            display: none;
        }
    }
}