.header {
    background: rgb(249, 248, 251) url('../images/header-bg.jpg') no-repeat calc(78%) center;
    background-size: contain;
    background-clip: padding-box;
    padding: 250px 0;
    min-height: 100vh;
  .header-content {
    h2 {
        @extend .w900;
        @extend .f60;
        color: $dark-font-color;
    }
    p {
        @extend .w300;
        @extend .f17;
        color: $dark-font-color;
    }
    .header-button {
        button {
            @extend .w300;
            @extend .f20;
            color: $white-font-color;
            background-color: $button-header-bgc;
            box-shadow: $main-shadow;
        } &:active, :focus {
            outline: none;
        }
    }
}
}
