.navbar {
    height: 150px;
    transition: height 1s ease-out;
    .collapse {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $dark-font-color;
                    @extend .f16;
                    @extend .w700;
                    border-top: 3px solid transparent;
                    &:hover {
                        border-top: 3px solid rgb(255, 96, 51);
                    }
                }
            }
        }
    }
}
.stick {
    background-color: rgba($color: #fff, $alpha: 0.5);
    height: 75px;
}