.subscribe {
    min-height: 33vh;
    background: url('../images/sub-bg.jpg') no-repeat right center;
    padding: 140px 0 160px 0;
    h2 {
        @extend .w700;
        @extend .f40;
        color: $dark-font-color;
        margin-bottom: 32px;
        
    }
    p {
        @extend .w300;
        @extend .f17;
        color: $dark-font-color;
        margin-bottom: 32px;    
    }
    form {    
        input {
            @extend .input-border;
            color: $dark-font-color;
            padding: 20px 16px;
            margin-right: 30px;
            border-radius: unset;
        }
        button {
            @extend .w300;
            @extend .f20;
            color: $white-font-color;
            background-color: $subscribe-button-bgc;
            padding: 16px 24px;
            box-shadow: $main-shadow;
            border: none;
        }
    }
}